<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="taller.component.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="box">
        <div class="img"></div>
        <div class="pic"></div>
        <span class="text">TALLER DE COCINA</span>
        <div class="line"></div>
        <div class="galeria"></div>
        <span class="descripcion-taller">DESCRIPCIÓN TALLER</span
        ><span class="actividades">ACTIVIDADES</span>
        <div class="line-1"></div>
        <div class="pic-5"></div>
        <span class="text-4">ACTIVIDAD 1</span>
        <div class="pic-6"></div>
        <span class="text-5">ACTIVIDAD 2</span>
        <div class="img-2"></div>
        <span class="actividad-3">ACTIVIDAD 3</span>
      </div>
      <div class="group"></div>
    </div>
    
  </body>
</html>
